.header_container{
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: yellow;
    transition: 3s linear;

}
.header_container-toggle{
    overflow: visible;
    transition: 3s linear;

}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.header_nav{
    display: flex;
    align-items: center;
    justify-content: center ;

    background-color: green;
}
img{
    width: 40px;
    height: 40px;
}
.nav_icon{
    display: none;
}
.nav_icon-toggle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav_icon-close{
    display: none;
}
.nav_icon-close-toggle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media screen and (max-width: 360px) {
    .header_container{
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        height: 8%;
        overflow: hidden;
    }
    .header_nav{
        height: 30rem;
    }
    .nav_icon-toggle{
        display: flex;
        
    }
    nav{

    }
    ul{
        grid-template-columns: 10px 1fr 1fr 1fr;
        grid-template-rows: 40px 1fr 1fr;

    }
  }
  